body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

button {
    border-radius : 20px;
}

a {
    text-decoration: none;
    color: green;
}

p {
    color: #ffffff;
    font-family: sans-serif;
    /*padding-left: 80px;*/
}

h1 {
    color: darkblue;
}

div {
   /* margin: auto;*/
    padding: 20px;
}
